iconography {
    & > header {
        background: #F4F4F4;
    }
    h1, h5 {
        color: $aqua;
    }
    .base-sizing {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .sizing-specs {
            display: flex;
            flex-direction: column;
            color: darken($light, 20%);
            margin: rem(35px) rem(150px) rem(10px) 0;
            span {
                line-height: 1.7rem;
            }
        }
        .sizing-demo {

        }
    }
    .padding {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        div {
            padding: rem(15px);
            margin-right: rem(25px);
            &:first-of-type {
                i {
                    margin: 0;
                    padding: 0;
                }
            }
            h4 {
                color: $positive;
                .bhi-circle {
                    color: $contact;
                }
            }
            h6 {
                color: darken($light, 25%);
            }
        }
    }
    .contained-scaling,
    .contained-padding {
        display: flex;
        justify-content: center;
        align-items: center;
        figure {
            text-align: center;
        }
    }
    .example.standard-icon-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: rem(20px);
        > div {
            text-align: center;
        }
    }
    .example.contained-icon-row {
        padding: rem(20px);
        > * {
            margin: rem(15px) 0;
            color: inherit;
        }
    }
}
