novo-search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
   
    > input {
        height: 100%;
        width: 0;
        display: block;
        background: $white;
        padding: rem(12px) rem(8px);
        position: relative;
        border: rem(1px) solid $light;
        border-left: none;
        border-radius: 0 rem(2px) rem(2px) 0;
        font-size: 1.4rem;
        color: $dark;
        z-index: 12;
        opacity: 0;
        transition: background-color 250ms ease-in-out, opacity 150ms ease-in-out, 250ms width ease-in-out;
        &:focus,
        &:active {
            outline: none;
            border: rem(1px) solid $positive;
            border-left: none;
        }
        &::-webkit-input-placeholder {
            color: $empty !important;
        }
    }
    &.active {
        max-width: rem(400px);
        min-width: rem(250px);
        z-index: 1000;
        
        > button[theme="fab"] {
            border-radius: rem(2px) 0 0 rem(2px) !important;
            width: rem(47px);
            height: rem(47px);
            box-shadow: none;
        }

        > input  {     
            opacity: 1;
            width: 100%;
        }
    }
    &.focused {
        > button {
            color: $positive !important;
            border: rem(1px) solid $positive;
            border-right: none;
            background: $white !important;
            box-shadow: none !important;
            &:hover {
                box-shadow: none !important;
            }
        }
        @each $key, $color in $all-colors {
            &[theme="#{$key}"] {
                > button {
                    color: $color !important;
                }
            }
        }
    }
        
}
