novo-card {
  .novo-card {
    background-color: $white;
    box-shadow: $whiteframe-shadow-z3;
    border-radius: 0.4rem;
    position: relative;
    overflow-x: hidden;
    &.loading {
      min-height: rem(200px);
    }
    div.card-loading-container {
      position: absolute;
      top: rem(43px);
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 0.4rem;
      background: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
    header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      .title {
        display: flex;
        align-items: center;
        min-width: 0;
        flex: 1;
        i.bhi-move {
          color: $light;
          margin-right: 0.3rem;
          cursor: pointer;
        }
        h3 {
          font-size: 1.3rem;
          padding: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          i {
            font-size: 1.2rem;
            &.bhi-info {
              color: $light;
            }
          }
        }
      }
      .actions {
        color: lighten($dark, 15%);
        white-space: nowrap;
        button {
          height: rem(30px);
          width: rem(30px);
          padding: rem(5px);
          font-size: 1.2rem;
          text-transform: none;
        }
      }
    }
    novo-card-actions {
      button {
        font-size: 1.05rem;
        i {
          font-size: 1.05rem;
        }
      }
    }
    main {
      padding: 0 0.8rem 0.8rem;
      background-color: $white;
      p.card-message {
        padding: rem(20px) 0;
        max-width: inherit;
        text-align: center;
        line-height: rem(25px);
        color: lighten($grey, 10%);
        i {
          display: block;
          font-size: rem(24px);
          margin: 0 0 0.5rem;
          color: lighten($grey, 20%);
        }
      }
    }
    &.no-padding {
      main {
        padding: 0;
      }
    }
    footer {
      display: flex;
      justify-content: center;
    }
  }
}
