popover-demo {
    .example.popover-demo {
        margin: auto;
        padding: rem(20px) rem(30px);
        position: relative;
        display: flex;
        span {
            cursor: pointer;
            margin: auto;
        }
    }
}