toast-demo {
  .example {
    padding: rem(20px);
  }

  .fake-card {
    border-radius: rem(3px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #fff;

    .content {
      padding: rem(20px);
    }
  }

  form {
    > * {
      display: block;
    }

    label {
      padding: rem(10px) 0;
    }
  }
}
