<header>
    <novo-list theme="navigation" direction="vertical">
        <novo-list-item *ngFor="let item of pulseItems">
          <novo-icon [name]="item.type"></novo-icon>
          <h6 novo-line>{{item.name}}</h6>
          <p novo-line>
              <i *ngIf="item.icon.name" class="{{item.icon.name}} {{item.icon.sentiment}}"></i>
              {{item.comment}}
          </p>
          <p novo-line>
              <novo-icon>clock</novo-icon>
              {{item.timeAgo | date: 'shortTime'}}
          </p>
        </novo-list-item>
    </novo-list>
</header>
