dropdown-demo {
    .example.dropdown-demo {
        background: $positive;
        padding: rem(20px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .example.dropdown-demo-scroll {
        background: $positive;
        padding: rem(20px);
        overflow: auto;
    }
}

novo-dropdown-container.custom-class {
    background: red;
}
