tabs-demo {
    .example {
        header {
            padding-top: rem(50px);
        }

        novo-nav-outlet {
            padding: rem(25px);
        }
    }

    .example.color-tab-demo {
        width: 100%;

        header {
            background: $positive;
        }
    }

    .example.vertical-tab-demo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: rem(20px);

        novo-nav-outlet {
            padding: 0 rem(25px);
        }
    }

    .example.button-tab-demo {
        header {
            padding: rem(20px);

            &.color {
                background: $positive;
            }
        }
    }
}
