novo-file-input {
  display: flex;
  flex-flow: row wrap;
  .files-below {
    padding-top: rem(10px);
  }
  .file-output-group {
    width: 100%;
    margin-top: rem(15px);
    .file-item {
      background-color: $white;
      box-shadow: 0 1px 4px rgba(#000, 0.15), 0 2px 10px rgba(#000, 0.09);
      margin-bottom: rem(15px);
      position: relative; //border-radius: rem(3px);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: rem(4px) rem(12px);
      width: 100%;
      i.bhi-move {
        color: $grey;
        padding-right: 0.75rem;
        padding-bottom: rem(4px);
        font-size: 2rem;
        cursor: -webkit-grab;
        cursor: grab;
      }
      label {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        span {
          margin: 0 rem(8px);
        }
      }
      button {
        font-size: 1.4rem;
        width: rem(42px);
        height: rem(42px);
        padding: rem(4px);
        color: $grey;
      }
      button:hover,
      button:focus,
      button.active {
        background: none;
        color: $positive;
      }
    }
  }
  .file-input-group {
    cursor: pointer;
    width: 100%;
    input[type='file'] {
      opacity: 0;
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      cursor: pointer;
    }
    &:hover,
    &.active {
      label.boxed {
        border: rem(2px) dashed $positive;
      }
    }
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
    label {
      color: $grey;
      margin-left: 0;
      transition: all 200ms ease-in-out;
      display: flex;
      flex-flow: column;
      align-items: center;
      position: relative;
      padding: rem(15px);
      cursor: pointer;
      pointer-events: none;
      /*This for FF*/
      strong {
        color: $positive;
      }
      small {
        margin-top: rem(7px);
      }
      i.bhi-dropzone {
        float: left;
        margin: -rem(17px) 0.25rem 0 0;
      }
      &.boxed {
        border: rem(2px) dashed $grey;
      }
      i {
        font-size: 3rem;
      }
    }
  }
  novo-loading {
    padding: rem(10px);
    transform: scale(0.8, 0.8);
  }
}

.gu-mirror {
  .actions {
    button {
      display: none;
    }
  }
}
