novo-calendar-date-change {
    display: inline-block;

    .cal-date-change {
        border-radius: rem(3px);
        border: rem(1px) solid #e1e1e1;
        background-color: $white;
        position: relative;
        padding: rem(10px) rem(15px);
        text-align: center;

        > span {
            padding: rem(5px);
            color: $black;
        }

        > i {
            cursor: pointer;
            padding: rem(2px);
            font-size: 0.9rem;
        }
    }
}
