novo-tip-well {
    &.active {
        display: inline-block;
        margin-bottom: 1rem;
    }
    >div {
        display: inline-block;
        border-radius: .25rem;
        background-color: $off-white;
        color: $dark;
        padding: 1rem;
        text-align: right;
        >div {
            display: flex;
            >i {
                flex-shrink: 0;
                text-align: center;
                margin-top: .3rem;
                margin-right: rem(10px);
                color: #aaaaaa;
            }
            >p {
                width: 100%;
                max-width: 33rem;
                text-align: left;
                padding-top: rem(6px);
                white-space: pre-line;
            }
        }
    }
}
