form-demo {
    .example.form-demo {
        padding: rem(20px);
        .dynamic {
            margin-top: rem(20px);
        }
    }
    .dynamic-demo-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: rem(20px);
        margin-bottom: rem(20px);
        &>button {
            margin-left: rem(10px);
        }
    }
    .final-value {
        color: #afafaf;
        padding: rem(10px);
        background: #f4f4f4;
    }
}
