select-demo {
    .example.select-demo {
        padding: rem(20px) rem(30px);
        border-top-right-radius: rem(3px);
        border-top-left-radius: rem(3px);
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: flex-start;
        flex-wrap: wrap;
        transition: background 460ms ease-in-out;

        & > * {
            flex-shrink: 0;
            flex-grow: 0;
            margin-right: rem(20px);
        }

        label {
            margin-bottom: rem(10px);
            display: block;
        }

        .caption {
            font-size: 0.9rem;
            margin-right: rem(5px);
        }
    }
}
