popover-content {
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    width: rem(400px);
    padding: rem(23px) rem(20px) rem(16px) rem(20px);
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.09), 0 1px 3px rgba(0, 0, 0, 0.2);
    &.top {
      margin-top: -rem(10px);
      &.virtual-area {
        bottom: -rem(11px);
      }
    }
    &.right {
      margin-left: rem(10px);
      &.virtual-area {
        left: -rem(11px);
      }
    }
    &.bottom {
      margin-top: rem(10px);
      &.virtual-area {
        top: -rem(11px);
      }
    }
    &.left {
      margin-left: -rem(10px);
      &.virtual-area {
        right: -rem(11px);
      }
    }
    .virtual-area {
      height: rem(11px);
      width: 100%;
      position: absolute;
    } // Arrows
    // .arrow is outer, .arrow:after is inner
    &.top > .arrow {
      margin-left: -9px;
      border-bottom-width: 0;
      border-top-color: rgba(0, 0, 0, 0.1);
      bottom: -9px;
      &:after {
        content: ' ';
        bottom: 1px;
        margin-left: -10px;
        border-bottom-width: 0;
        border-top-color: #fff;
      }
      &.center {
        left: 50%;
      }
      &.left {
        left: 91%;
      }
      &.right {
        left: 9%;
      }
    }
    &.right > .arrow {
      left: -9px;
      margin-top: -9px;
      border-left-width: 0;
      border-right-color: rgba(0, 0, 0, 0.1);
      &:after {
        content: ' ';
        left: 1px;
        bottom: -10px;
        border-left-width: 0;
        border-right-color: #fff;
      }
      &.center {
        top: 50%;
      }
      &.top {
        top: 91%;
      }
      &.bottom {
        top: 9%;
      }
    }
    &.bottom > .arrow {
      margin-left: -9px;
      border-top-width: 0;
      border-bottom-color: rgba(0, 0, 0, 0.1);
      top: -9px;
      &:after {
        content: ' ';
        top: 1px;
        margin-left: -10px;
        border-top-width: 0;
        border-bottom-color: #fff;
      }
      &.center {
        left: 50%;
      }
      &.left {
        left: 91%;
      }
      &.right {
        left: 9%;
      }
    }
    &.left > .arrow {
      right: -9px;
      margin-top: -9px;
      border-right-width: 0;
      border-left-color: rgba(0, 0, 0, 0.1);
      &:after {
        content: ' ';
        right: 1px;
        border-right-width: 0;
        border-left-color: #fff;
        bottom: -10px;
      }
      &.center {
        top: 50%;
      }
      &.top {
        top: 91%;
      }
      &.bottom {
        top: 9%;
      }
    }
  }
  .popover > .arrow {
    border-width: 9px;
    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    &:after {
      border-width: 10px;
      content: '';
    }
  }
  .popover-title {
    margin: 0; // reset heading margin
    padding: 0 0 rem(8px) 0;
    font-weight: 600;
  }
  .popover-content {
    padding: rem(9px) 0;
    .popover-content-text {
      white-space: pre-line;
    }
  }
}
