
<novo-search></novo-search>

<br/>

<novo-search alwaysOpen="true"></novo-search>

<br/>

<novo-search [ngModel]="test" (ngModelChange)="search($event)">
    <novo-list direction="vertical">
        <novo-list-item *ngFor="let item of searchResults | async" (click)="onSelectMatch(item)">
          <novo-icon [name]="item.type"></novo-icon>
          <h4 novo-line>{{item.name}}</h4>
        </novo-list-item>
    </novo-list>
</novo-search>

<br/>

<novo-search icon="location" theme="grapefruit" alwaysOpen="true" [(ngModel)]="geo" displayField="formatted_address" [closeOnSelect]="false" hint="Search Google to find your address.">
    <google-places-list [(term)]="geo"></google-places-list>
</novo-search>
<div>Value is: {{geo}}</div>
<br/>

<novo-search icon="candidate" theme="candidate" alwaysOpen="true" [(ngModel)]="entity">
    <entity-picker-results [matches]="searchData" (select)="onSelectEntity($event)"></entity-picker-results>
</novo-search>
