layout {
    h1,
    h5 {
        color: $mint;
    }

    article {

        img {
            display: block;
            margin: rem(40px) auto rem(50px) auto;
            max-width: rem(600px);
            max-height: rem(475px);
            width: auto;
            height: auto;

            &.bowling-alley {
                max-height: rem(400px);
            }
        }
    }
}
