card-demo {
    .example {
        padding: rem(20px);

        > .actions {
            display: flex;
            align-items: center;
            margin-top: rem(20px);

            > * {
                margin-right: rem(5px);
            }

            > form-field {
                line-height: 0;
            }
        }
    }
}
