home {
    h1,
    h5 {
        color: $bittersweet;
    }

    section {
        .jump-to {
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border: rem(2px) solid rgba($mint, 0.25);
            padding: rem(10px);
            max-width: 30rem;
            border-radius: rem(11px);
            margin: rem(25px) 0 !important;

            i {
                flex-shrink: 0;
                font-size: 1rem;
                color: $mint;
                width: rem(30px);
                height: rem(30px);
                line-height: rem(26px);
                border-radius: 50%;
                border: rem(2px) solid $mint;
                display: inline-block;
                margin-right: rem(15px);
                text-align: center;
            }

            &.brand {
                border: rem(2px) solid rgba($bittersweet, 0.25);

                i {
                    color: $bittersweet;
                    border: rem(2px) solid $bittersweet;
                }
            }
        }
    }
}
