novo-dropdown-cell,
.novo-table-dropdown-cell {
    >novo-dropdown>button[theme][theme="secondary"][icon] {
        font-size: inherit;
        color: inherit;
        border: none;
        background: inherit;
        text-transform: inherit;
        border-radius: 0;
        border-bottom: rem(1px) solid #DEDEDE;
        padding: 0;
        width: 100% !important;
        max-width: rem(200px);
        i {
            font-size: rem(10px);
            margin-right: -rem(5px);
            color: #A0A0A0;
        }
        .flex-wrapper {
            justify-content: space-between;
        }
        &:active,
        &:hover {
            background: inherit;
            box-shadow: none;
        }
        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            max-width: 80%;
        }
    }
    list {
        max-height: rem(400px);
        display: block;
        overflow: auto;
        padding: rem(5px) 0;
    }
    item {
        height: rem(30px) !important;
        padding: 0 rem(16px) !important;
        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            max-width: 80%;
        }
        &.active {
            font-weight: 500;
        }
    }
    dropdown-item-header {
        padding: 0 rem(10px) !important;
    }
}
