.demo-custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        width: rem(70px);
        color: $dark;
        padding: 0.6rem;
    }
}

.demo-custom-footer {
    &.editing {
        padding: 1.2rem;
    }
}

image-cell {
    img {
        height: rem(100px);
    }
}

.table-demo {
    .final-value {
        color: #afafaf;
        padding: rem(10px);
        background: #f4f4f4;
        border-top: rem(1px) solid #E9EAEA;
    }
}
